

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  margin: 10px;
  border-radius: 5px;
  width: 300px;
  height: 520px;
  justify-content: space-around;

}

.card img {
  max-width: 150px;
  
}

img {
  border-radius: 5px 5px 0 0;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}


.container {
  padding: 2px 16px;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}



.card img:hover {
transform: rotate(19deg);
-webkit-transform: rotate(19deg);
-moz-transform: rotate(19deg);
}
