header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

header img {
    max-width: 75px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}

header p {
    margin-right: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,-0,-0, 0.2);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    margin: 10px;
    border-radius: 5px;
    max-width: 300px;
    justify-content: space-around;
}

img {
    border-radius: 5px 5px 0 0;
    width: 300px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,-0,-0, 0.2);

}

.container {
    padding: 2px 16px;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
